.HomeBanner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  color: var(--on-bg);
  background-color: var(--bg);

  background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjF8fHRleHR1cmUlMjBkYXJrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.HomeBanner__sub {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(20px);
}

.HomeBanner__profilepic {
  height: 170px;
  width: 170px;
  margin-bottom: 20px;
  border-radius: 3vw;
}

.HomeBanner__title {
  font-weight: 600;
  font-size: 3.2rem;
}

.HomeBanner__location {
  margin-bottom: 10px;
  color: var(--secondary);
}

.HomeBanner__content {
  font-size: 18.3px;
}

.HomeBanner__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.HomeBanner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-primary) !important;
  text-decoration: none !important;
  margin-right: 15px;
  margin-top: 15px;
  color: var(--minimal);
}

.HomeBanner__link-icon {
  font-size: 20px;
  transition: all 0.4s;
}

.HomeBanner__link-text .fa-arrow-right {
  font-size: 15px;
  margin-left: 7px;
  margin-top: 2px;
  transition: all 0.2s;
}

.HomeBanner__link-text:hover .fa-arrow-right {
  margin-left: 10px;
}

.HomeBanner__link-icon:hover {
  font-size: 25px;
}

@media only screen and (max-width: 550px) {
  .HomeBanner__profilepic {
    display: none;
  }
}
