@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", "Franklin Gothic Medium", "Arial Narrow", "Arial",
    "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
  color: var(--on-bg);
}

body,
html {
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  --bg: #0f0f0f;
  --on-bg: rgb(228, 228, 228);
  --primary: #6930c3;
  --on-primary: ;
  --secondary: #64dfdf;
  --on-secondary: ;
  --minimal: #a8a7a7;
}

.emphasis-1 {
  color: var(--primary);
}

.underline-2 {
  border-bottom: 1px solid var(--secondary);
}

.fd-col {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #313446;
  border-radius: 10px;
}
